<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="manager">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/superhero/bootstrap.min.css" integrity="sha256-LEplvgQTKatd65f2Z/JThrYx/sdoKygi0dsC1h5sInE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/site.css" />
    <link rel="stylesheet" href="/Content/font/sbmanagerfont.css" />
    <link rel="shortcut icon" href="/Content/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular.min.js" integrity="sha256-JrztBcEneQC/9wAe/oi8+7JudeVrOwRZSpbXoBj810g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular-route.min.js" integrity="sha256-ciNo46tBqXaG7VDYnq0TBxfzgl/7jvqx2xf/FaeeH1Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js" integrity="sha256-OQ4SpX9P9HvCSGZTLcWFNUuCQKZ4z6rxfohex+cfXBg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js" integrity="sha256-T5VUz1avXnBztovyKvVeWczvhbGva37t9io/eMw6U3c=" crossorigin="anonymous"></script>

    <script src="/Scripts/manager/manager.js"></script>
    <script src="/Scripts/manager/messageTypeConstants.js"></script>
    <script src="/Scripts/manager/peekViewFactory.js"></script>
    <script src="/Scripts/manager/directives.js"></script>
    <script src="/Scripts/manager/messageTypeIconDirective.js"></script>
    <script src="/Scripts/manager/homeController.js"></script>
    <script src="/Scripts/manager/queueController.js"></script>
    <script src="/Scripts/manager/topicController.js"></script>
    <script src="/Scripts/manager/subscriptionController.js"></script>

</head>
<body>
<!--[if lte IE 9]>
<div class="alert alert-danger">
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
</div>
<![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <nav class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/"><i class="sbmicon sbmicon-logo"></i> SbManager</a></li>
            <li><a href="#/">Home</a></li>
            <li><a href="#/deadletters">Deadletters</a></li>
            <li><a href="#/help">Help</a></li>
        </ul>
    </nav>
</div>
@Section['Content'];
</body>
</html>
