<div class="row dashboard-panels">
    <div class="col-md-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Active Messages</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-align-justify"></i>
                    {{vm.ActiveMessageCount}}
                </h2>
            </div>
            <div ng-if="vm.ActiveMessageCount > 0 && !vm.Subscriptions" class="panel-footer">
                <button ng-if="removeall" ng-click="removeall({deadletter:false})" type="button" class="btn btn-danger">Remove all</button>
                <button ng-if="deadletterall" ng-click="deadletterall()" type="button" class="btn btn-danger">DeadLetter all</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Dead Letters</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-trash"></i>
                    {{vm.DeadLetterCount}}
                </h2>
            </div>
            <div ng-if="vm.DeadLetterCount > 0 && !vm.Subscriptions" class="panel-footer">
                <button ng-if="removeall" ng-click="removeall({deadletter:true})" type="button" class="btn btn-danger">Remove all</button>
                <button ng-if="requeue" ng-click="requeue()" type="button" class="btn btn-warning">Requeue all</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Scheduled Count</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-time"></i>
                    {{vm.ScheduledMessageCount}}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Transfer Count</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-arrow-right"></i>
                    {{vm.TransferMessageCount}}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">T'fer Dead Letter</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-random"></i>&nbsp;
                    {{vm.DeadTransferMessageCount}}
                </h2>
            </div>
        </div>
    </div>
    <div ng-if="vm.SizeInBytes || vm.SizeInBytes === 0" class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Size</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-hdd"></i>
                    {{vm.SizeInHumanReadable}}
                </h2>
            </div>
        </div>
    </div>
    <div ng-if="vm.NumberOfRules || vm.NumberOfRules === 0" class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"># of Rules</h3>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="glyphicon glyphicon-list-alt"></i>
                    {{vm.NumberOfRules}}
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">
                Configuration
            </li>
            <li class="list-group-item" ng-if="vm.AutoDeleteOnIdle">
                <span class="badge">{{vm.AutoDeleteOnIdle.Human}}</span>
                Auto Delete on Idle
            </li>
            <li class="list-group-item" ng-if="vm.DefaultMessageTTL">
                <span class="badge">{{vm.DefaultMessageTTL.Human}}</span>
                Default Message Time-to-live
            </li>
            <li class="list-group-item" ng-if="vm.DuplicateDetectionWindow">
                <span class="badge">{{vm.DuplicateDetectionWindow.Human}}</span>
                Duplicate Message Detection Window
            </li>
            <li class="list-group-item" ng-if="vm.LockDuration">
                <span class="badge">{{vm.LockDuration.Human}}</span>
                Lock Duration (Peek Lock)
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">
                Status Information
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.Status}}</span>
                Status
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.IsReadOnly}}</span>
                Is Read Only
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.CreatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                Created At
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.AccessedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                Accessed At
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.UpdatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                Updated At
            </li>
        </ul>
    </div>
</div>