<div class="container">
    <ul class="breadcrumb">
        <li class="active">Overview</li>
    </ul>

    <div class="row">
        <div class="col-lg-6 bottom-col">
            <h1 id="type">
                <i class="sbmicon sbmicon-logo"></i> SbManager
            </h1>
        </div>
        <div class="col-lg-6 bottom-col">Connected to: {{vm.model.BusAddress}}</div>
    </div>
    
    

    <loading ng-if="!vm.model"></loading>

    <div ng-if="vm.model">
        <div class="row">
            <div class="col-lg-6">
                <h2>Queues</h2>
                <ul class="entitylist">
                    <li ng-repeat="m in vm.model.Queues"><i class="glyphicon glyphicon-th-list"></i> <a href="#/queue/{{m.Name}}">{{m.Name}}</a> <queuelength class="pull-right" active="{{m.ActiveMessageCount}}" dead="{{m.DeadLetterCount}}"/></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h2>Topics</h2>
                <ul class="entitylist">
                    <li ng-repeat="m in vm.model.Topics"><i class="glyphicon glyphicon-th"></i> <a href="#/topic/{{m.Name}}">{{m.Name}}</a> <queuelength class="pull-right" active="{{m.ActiveMessageCount}}" dead="{{m.DeadLetterCount}}"/></li>
                </ul>
            </div>
        </div>
    </div>
    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="alert.close()">
        <span ng-bind-html="alert.msg | unsafe"></span>
    </alert>
</div>

<div class="navbar navbar-fixed-bottom navbar-default bottom-bar" role="navigation">
    <nav class="container">
        <ul class="nav navbar-nav" ng-if="model">
            <li><button class="btn btn-success" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh btn-sm"></i> Refresh</button></li>
            <li><button class="btn btn-danger" ng-click="vm.deleteAll()"><i class="glyphicon glyphicon-remove btn-sm"></i> Delete all</button></li>
        </ul>
    </nav>
</div>

