<div class="container">
    <ul class="breadcrumb">
        <li><a href="#/">Overview</a></li>
        <li class="active">{{vm.name}}</li>
    </ul>
    
    <h2 ng-if="!vm.model">&nbsp;</h2>
    <loading ng-if="!vm.model"></loading>

    <div ng-if="vm.model">
        <h2><i class="glyphicon glyphicon-th-list"></i> {{vm.model.Name}}</h2>

        <messagingentity model="vm.model" removeall="vm.removeall(deadletter)" deadletterall="vm.deadletterall()" requeue="vm.requeue()"></messagingentity>
        <peek ng-if="vm.model.ActiveMessageCount" model="vm.model"></peek>
        <peek ng-if="vm.model.DeadLetterCount" model="vm.model" dead></peek>
    </div>
</div>

<div class="navbar navbar-fixed-bottom navbar-default bottom-bar" role="navigation">
    <nav class="container">
        <ul class="nav navbar-nav" ng-if="vm.model">
            <li><button class="btn btn-success" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh btn-sm"></i> Refresh</button></li>
            <li><button class="btn btn-danger" ng-click="vm.delete()"><i class="glyphicon glyphicon-remove btn-sm"></i> Delete Queue</button></li>
        </ul>
    </nav>
</div>