<div class="container">
    <ul class="breadcrumb">
        <li><a href="#/">Overview</a></li>
        <li><a href="#/topic/{{vm.topic}}">{{vm.topic}}</a></li>
        <li class="active">{{vm.name}}</li>
    </ul>

    <h2 ng-if="!vm.model">&nbsp;</h2>
    <loading ng-if="!vm.model"></loading>
    
    <div ng-if="vm.model">
        <h2><i class="glyphicon glyphicon-inbox"></i> {{vm.model.Name}}</h2>
        <h5><i class="glyphicon glyphicon-th"></i> {{vm.model.TopicName}}</h5>

        <messagingentity model="vm.model" removeall="vm.removeall(deadletter)" deadletterall="vm.deadletterall()" requeue="vm.requeue()"></messagingentity>
        <peek ng-if="vm.model.ActiveMessageCount" model="vm.model"></peek>
        <peek ng-if="vm.model.DeadLetterCount" model="vm.model" dead></peek>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Filter Rules</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="rule in vm.model.Rules">
                    <strong>{{rule.Name}} ({{rule.FilterType}})</strong> @ {{rule.CreatedAt | date:'yyyy-MM-dd HH:mm:ss'}}<br />
                    <pre>{{rule.Text}}</pre>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom navbar-default bottom-bar" role="navigation">
    <nav class="container">
        <ul class="nav navbar-nav" ng-if="vm.model">
            <li><button class="btn btn-success" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh btn-sm"></i> Refresh</button></li>
            <li><button class="btn btn-danger" ng-click="vm.delete()"><i class="glyphicon glyphicon-remove btn-sm"></i> Delete Subscription</button></li>
        </ul>
    </nav>
</div>