<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WebAppUrl" value="http://+:8062"/>
        <add key="LoggingDirectory" value="C:\logs"/>
        <add key="LoggingMinLevel" value="Debug"/>
      <!--LoggingMinLevel accepted values: Verbose,Debug,Information,Warning,Error,Fatal-->
        <add key="LoggingFileSizeLimitMBytes" value="100"/>
        <add key="LoggingRetainedFileCountLimit" value="30"/>
    </appSettings>
    <connectionStrings>
      <!-- if this is a file location or unc share, we'll try to load the referenced file and extract the connection string from that. -->
        <add name="busConnectionString" connectionString="C:\temp\sbConnectionString.txt"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>
